@font-face{
	font-family: "Futuraone";
	src: url('Futura (Light).ttf') format('truetype');
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Futuraone';
}

.wrap{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: #F44336;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    text-align: center;
z-index: 999;
}

.wrap h1{
  position: relative;
  top: 20%;
  color: white;
  font-size: 3em;

}

.bouncing_ball{
  position: relative;
  width: 4rem;
  margin: 0 auto;
  height: 12rem;
  top: 20%;
  
}

.ball{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  animation: bounce 1s infinite;
}

.span{
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}

.span:nth-of-type(1){
  animation: load_one 2s infinite linear;
}

.span:nth-of-type(2){
  animation: load_two 2s infinite linear;
}
.span:nth-of-type(3){
  animation: load_three 2s infinite linear;
}

@keyframes load_one{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes load_two{
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes load_three{
  0%{
    opacity: 0;
  }
  65%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}





@keyframes bounce{
  0%{
    top: 0;
    animation-timing-function: ease-in;
  }
  34%{
    height: 4rem;
    width: 4rem;
  }

  35%{
    top: 8rem;
    height: 3rem;
    width: 4.3rem;
    animation-timing-function: ease-out;
  }
  45%{
    height: 4rem;
    width: 4rem;
  }
  90%{
    top: 0;
  }
  100%{
    top: 0;
  }
}

.main_content{
height: 100vh;
width: 100vw;
background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

#Video {
  width: 100%; 
}

main {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #F44336;
  bottom: -45px;
  left: 0;
  color: white;
  line-height: 50px;
/*  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;*/
  margin: 0 auto; 
}
.con_button {
  float: left;
  text-align: center;
  width: 5%; 
  cursor: pointer;

}

.con_seek_vol {
  float: left;
  text-align: center;
  width: 60%;
  margin-top: 15px; 
  cursor: pointer;

}

.con_seek_time {
  float: left;
  text-align: center;
  width: 20%;
  margin-top: 15px; 
  cursor: pointer;

}






h2{
	font-family: 'Futuraone';
	color: #F44336;
	line-height: 50px;
		transition: 0.4s ease all;
		font-size: 27.5px;
		background-color: #212121;
		padding: 20px;
		margin: 0 auto;
		width: 75%;
}

.contain{
width: 80%;
position: relative;
margin: 10px auto;
height: auto;
}

.buttoncover{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: absolute;
	top: 65%;
	left: 0;
	z-index: 999;
	text-align: center;
}


.button{
	display: inline-block;
	color: white;
	cursor: pointer;
	background-color: #F44336;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		transition: 0.4s ease all;
	transition-delay: 0.1s;

}


.button span{
		font-size: 20px;
		position: relative;
		width: 100%;
		display: block;
		margin: 0 auto;
		text-align: center;
		letter-spacing: 1.5px;
}
.in{

}


.turn{
		transform: scale(0.85, 0.85);
}

.op{
	opacity: 0;
	transition: 0.4s ease all;
}
